@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

#root, #__next {
  isolation: isolate;
  padding: 0;
}

:root {
  padding: 0;
  background-color: rgb(235, 233, 241);
}

.App {
  min-height: calc(100vh - 52px);
}

.ql-toolbar {
  border: none !important;
  border-bottom: 1px solid gainsboro !important;
}

.ql-container {
  border: none !important;
  font-size: 16px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
  color: rgb(200, 194, 194);
}

.ql-bold, .ql-italic, .ql-underline {
  padding: 12px;
  border-radius: 4px;
}

.ql-formats .ql-bold, .ql-italic {
  margin-right: 8px !important;
}
