.scriblelandingpage-navbar-logo-left {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: transparent;
  background-image: radial-gradient(circle at right bottom, rgb(163, 167, 255) 0.00%,rgb(238, 238, 241) 100.00%);
}
.scriblelandingpage-navbar-container {
  width: 1059px;
  height: 64px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.scriblelandingpage-navbar-content {
  width: 1859px;
  height: 60px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.scriblelandingpage-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.scriblelandingpage-navbar-brand {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
}
.scriblelandingpage-text {
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Intro Script-Trial;
  font-weight: 600;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.scriblelandingpage-navbar-menu {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
}
.scriblelandingpage-navbar-link {
  display: flex;
  padding: 24px 12px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 10px;
}
.scriblelandingpage-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.scriblelandingpage-navbar-link1 {
  display: flex;
  padding: 24px 12px;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 10px;
}
.scriblelandingpage-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.scriblelandingpage-navbar-link2 {
  display: flex;
  padding: 24px 12px;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 10px;
}
.scriblelandingpage-button {
  display: flex;
  padding: 8px 20px;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.scriblelandingpage-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.scriblelandingpage-hero-heading-left {
  width: 100%;
  height: auto;
  display: flex;
  padding: 64px 24px;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: radial-gradient(circle at left bottom, rgb(255, 255, 255) 0.00%,rgb(125, 120, 255) 100.00%);
}
.scriblelandingpage-container2 {
  flex: 0 0 auto;
  width: 485px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.scriblelandingpage-container3 {
  flex: 0 0 auto;
  width: 1118px;
  height: 445px;
  display: flex;
  flex-direction: column;
}
.scriblelandingpage-container4 {
  flex: 0 0 auto;
  width: 488px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.scriblelandingpage-container5 {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  padding-bottom: 113px;
}
.scriblelandingpage-text08 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 56px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 130%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 24px;
  text-decoration: none;
}
.scriblelandingpage-text15 {
  color: rgb(33, 33, 33);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 140%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.scriblelandingpage-button1 {
  width: 160px;
  height: 40px;
  display: flex;
  padding: 12px 24px;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.scriblelandingpage-button1:hover {
  background-color: #5A5A5A;
}
.scriblelandingpage-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.scriblelandingpage-video {
  width: 1388px;
  height: 440px;
}
.scriblelandingpage-footer {
  width: 100%;
  height: 266px;
  display: flex;
  padding: 64px 24px 0 24px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  background-color: #ffffff;
}
.scriblelandingpage-footerslogan {
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-end;
  border-color: transparent;
  margin-bottom: 21px;
  flex-direction: column;
}
.scriblelandingpage-text33 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 40px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.scriblelandingpage-actions {
  display: flex;
  padding: 16px 0 0 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 21px;
  flex-direction: column;
  justify-content: flex-end;
}
.scriblelandingpage-button2 {
  display: flex;
  padding: 12px 24px;
  position: relative;
  transition: 0.3s;
  align-items: center;
  border-color: transparent;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 1);
}
.scriblelandingpage-button2:hover {
  background-color: #5a5a5a;
}
.scriblelandingpage-text34 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.scriblelandingpage-copyright {
  width: 940px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-halfunit);
  border-color: transparent;
  padding-left: 16px 0;
  padding-right: 16px 0;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.scriblelandingpage-text36 {
  color: rgba(51, 51, 51, 1);
  height: auto;
  font-size: 14px;
  align-self: center;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .scriblelandingpage-navbar-logo-left {
    background-image: radial-gradient(circle at right, rgb(163, 167, 255) 0.00%,rgb(238, 238, 241) 100.00%);
  }
  .scriblelandingpage-navbar-content {
    width: 1396px;
    height: 73px;
    align-items: center;
    margin-left: 0px;
    margin-right: var(--dl-space-space-unit);
  }
  .scriblelandingpage-text {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-width: 1px;
  }
  .scriblelandingpage-button1 {
    width: 141px;
  }
  .scriblelandingpage-footer {
    height: 405px;
  }
  .scriblelandingpage-copyright {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 1200px) {
  .scriblelandingpage-navbar-logo-left {
    width: 1197px;
    height: auto;
    background-image: radial-gradient(circle at right bottom, rgb(163, 167, 255) 0.00%,rgb(238, 238, 241) 100.00%);
  }
  .scriblelandingpage-navbar-container {
    width: 1047px;
  }
  .scriblelandingpage-navbar-content {
    width: 1160px;
    height: 72px;
  }
  .scriblelandingpage-text {
    border-color: var(--dl-color-gray-black);
    border-width: 0px;
  }
  .scriblelandingpage-container3 {
    width: 1113px;
  }
  .scriblelandingpage-video {
    width: 580px;
    height: 413px;
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .scriblelandingpage-hero-heading-left {
    height: 634px;
  }
  .scriblelandingpage-text08 {
    color: rgb(0, 0, 0);
    font-size: 56px;
    font-family: Inter;
    font-weight: 700;
    line-height: 130%;
    text-decoration: none;
  }
  .scriblelandingpage-text09 {
    font-size: 40px;
    line-height: 120%;
  }
  .scriblelandingpage-text10 {
    font-size: 40px;
    line-height: 120%;
  }
  .scriblelandingpage-text11 {
    font-size: 40px;
    line-height: 120%;
  }
  .scriblelandingpage-text12 {
    font-size: 40px;
    line-height: 120%;
  }
  .scriblelandingpage-text15 {
    color: rgb(33, 33, 33);
    font-size: 15px;
    font-family: Inter;
    font-weight: 500;
    line-height: 120%;
    text-transform: lowercase;
    text-decoration: none;
  }
  .scriblelandingpage-video {
    width: 433px;
    height: 397px;
  }
  .scriblelandingpage-text33 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Inter;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
  }
}
